
* {
	margin: 0;
	box-sizing: border-box;
}
.background {
  background-position:center center;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-color:black;
  background-image: url(../../img/o9a0163_cp-qrcode_a.jpg);

}
.post-wrap3 {
  position: absolute;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  z-index: 99999;
  opacity: 1;
  overflow: hidden;  
  background-image: url(../../img/o9a0163_cp-qrcode_a.jpg);
  background-position:center center;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-color:black;

}
.post-item {
	padding: 15px;	
  cursor: pointer;
}
.post-item * {
	transition: .3s linear;
}
.item-content {
	background: #4CAF50;
    padding: 40px;
}
.item-icon {
	margin-bottom: 20px;
}
.item-icon:before {
	content: "";
	font-family: FontAwesome;
	color: rgb(255, 255, 255);
	font-size: 50px;
	line-height: 1;
}
.item-icon.photo:before {
	content: url("https://img.icons8.com/officel/2x/person-male.png");
}
.item-icon.video:before {
	content: url("https://img.icons8.com/officel/2x/person-male.png");
}
.item-icon.gift:before {
	content: url("https://img.icons8.com/officel/2x/person-male.png");
}
.item-icon.group:before {
	content: url("https://img.icons8.com/officel/2x/person-male.png");
}
.item-icon.tree:before {
	content: url("https://img.icons8.com/officel/2x/person-male.png");
}
.item-icon.anchor:before {
	content: url("https://img.icons8.com/officel/2x/person-male.png");
}
.post-item:hover .item-icon,
.post-item:hover .item-body h3,
.post-item:hover .item-body p {
	transform: translateY(-8px);
}
.item-body {
	color: #F5E2CD;
	font-size: 14px;
}
.item-body h3 {
	font-weight: 500;
    margin-bottom: 15px;
	transition-delay: .05s;
}
.item-body p {
	transition-delay: .1s;
}
.item-footer {
	padding-top: 15px;
}
.link {  
	text-decoration: none;	
    display: inline-block; 
	overflow: hidden;	
	position: relative;
	padding-right: 30px;
	font-size: 12px;
    text-transform: uppercase;
    font-weight: 600;
    color: #F5E2CD;
}
.link:before {    
  content: "";
  position: absolute;
  top: 0;
left: 0;
  width: 100%;
bottom: 0;
  height: .125rem;
margin: auto;
background: #F09EA3;
  transform: scaleX(.2);
  transform-origin: left center;
  z-index: 0;
transition: .6s cubic-bezier(.6, .01, 0, 1);
}
.link span {
display: inline-block;
  position: relative;
  transform: translateX(-200%);    
  transition: .6s cubic-bezier(.6, .01, 0, 1);
}
.post-item:hover .link span {
  transform: translateX(0%);
}
.post-item:hover .link:before {
transform-origin: right center;
}
@media (min-width: 768px) {
.post-item {
  flex-basis: 50%;
  flex-shrink: 0;				
}
}
@media (min-width: 960px) {
.post-item {
  flex-basis: 33.333333333%;			
}
}

.social{
  display: flex;
  justify-content: flex-start;
  margin: 0px 50px;
}

.social__item{
  text-decoration: none;

  padding: 5px 10px;
  margin: 0px 10px;

  font-size: 24px;

  background-color: white;
  color: #4CAF50;;
}

.social__item:hover {
  color: black;
}